/*
 *
 */

body {
    background-image: url("img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    width: 100vw;
}

body, header, h1 {
    margin: 0;
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 16px;
}

canvas {
    height: 70vh;
    margin-top: 32px;
    width: calc(1280 * 70vh / 720);
}
